@import './styles/settings.scss';

body {
    margin: 0;
    padding: 0;
}
.app {
    text-align: center;
    align-content: center;
    height: 100vh;
    background-color: $color-dark;
}

.title{
    font-size: ($base-size *2.5);
    color: $color-light;
    font-family: $font-text;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}